
#main-nav {
    width: 85vw;
    display: flex;
    justify-content: center;
}
#nav-categories {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#nav-categories .dropdown-menu {
    position: absolute!important;
}

.dropdown-toggle::after{
    color: $light-grey-color!important;
}

.category-dropdown {
    margin-top: 6px;
}

@media only screen and (max-width: $breakpoint-medium) {
    #header {
        display: none;
    }

}


@media only screen and (min-width: $breakpoint-medium) {
    .notify{
        top: 2px!important;
        right: -7px!important;
    }

    .cart-menu-desktop {
        margin-top: 8px;
        width: 300px!important;
    }
    
}

// TOP NAVBAR
.nav-item{
    color: $lighter-grey-color;
}


// HEADER MAIN 
.header-main {
    padding-top: 0;
    padding-bottom: 0;
}

img.logo {
    max-height: 80px!important;
}



// MAIN NAVBAR