.mobile-nav {
    // height: 80px;
    padding: 0!important;
    background-color: $white-color;
}

.mobile-nav.logo {
    height: 60px;
    padding-left: 10px;
}

.fa-shopping-cart, .fa-user {
    color: $grey-color !important;
}

#navbar-user .dropdown-menu{
    position: absolute!important;
}

#navbar-burger {
    position: relative;
    top: 0px;
    background: $white-color;
}

.burger-container {
    padding: 20px;
}

.notify{
    font-size: 55%;
    position: absolute;
    top: -5px;
    right: -7px;
}

.widget-header {
    margin-bottom: 0!important;
}

.search-bar {
    padding-left: 10px;
    padding-right: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: $breakpoint-small) {


}

// /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: $breakpoint-small) {



}

@media only screen and (max-width: $breakpoint-medium) {
    .float-md-right {
        float: right ;
    }

    .cart-menu-mobile {
        margin-top: 8px;
        width: 350px;
    }
  
}



@media only screen and (min-width: 769px) {

   #mobile-header {
       display: none;
   }

}

