$font-color: #e633fa;
$primary-color: #FF7700;

.bg-primary {
    // color: $font-color !important;
    background-color: $primary-color!important;
}

.breadcrumb-item a{
    color: gray;
    text-decoration: underline;
}

// .navbar-nav .secondary {
//     display: flex!important;
//     flex-direction: row!important;
//     padding: 2%;
// }

// .nav-item .secondary {
//     border: 1px solid grey;
//     width: 100px;
//     padding: 1%;
//     margin: 1%;
// }


