$font-color: #e633fa;
$primary-color: #FF7700;

.bg-primary {
    // color: $font-color !important;
    background-color: $primary-color!important;
}

.breadcrumb-item a{
    color: gray;
    text-decoration: underline;
}


