// COLORS
$font-color: #2ba13f;
$primary-color: #FF7700;
$grey-color: gray;



// BACKGROUNDS
.bg-primary {
    background-color: $primary-color!important;
}


// FONT SIZES




// TYPOGRAPHY




// ICONS 



