.loader-img {
    width:60%; 
    z-index: 999; 
    position: relative;
}

#mobile-filter-container {
    margin-bottom: 32px;
}

.fix-height {
    padding: 8px;
}

p.artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.text-wrap {
    display: block;
    max-width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-product-grid {
    margin-bottom: 30px;
}