.loader-img {
    width:60%; 
    z-index: 999; 
    position: relative;
}

// @media (min-width: 768px) {
//     #collapse_1 .show {
//       display: block;
//     }
//   }

#mobile-filter-container {
    margin-bottom: 32px;
}