#breadcrumb-container {
    margin-bottom: 32px;
}

.content-body {
    padding: 30px;
}

.gallery-wrap .img-big-wrap {
    margin-bottom: 0px;
}

#gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-wrap .img-big-wrap img {
    height: 300px;
}

.item-thumb img {
    width: 120px;
}

// description - show more/less
.product-description {
    position: relative;
    width: 100%;
}
.description-text {
    height: 217px;
    overflow: hidden;
}
#show-more {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.79), rgba(255,255,255,1));
    cursor: pointer;
    position: absolute;
    bottom: -15px;
    padding: 27px 0;
    text-align: center;
    width: 100%;
}
#show-less {
    color: blue;
    cursor: pointer;
    text-align: center;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .gallery-wrap .img-big-wrap img {
        height: 400px;
    }
}

